body{
    height: 100vh;
    display: flex;
    align-items: center;
    animation:  changeBg 10s linear infinite;
    justify-content: center;
    font-family: "Raleway", Arial, sans-serif;
}

@keyframes changeBg {
    0% {
        background-color: rgba(255, 192, 203, 0.918);
    }
    20% {
        background-color: rgba(0, 255, 242, 0.966);
    }
    40% {
        background-color: rgba(42, 165, 42, 0.959);
    }
    60% {
        background-color: rgba(222, 138, 135, 0.979);
    }
    80% {
        background-color: rgb(128, 128, 128);
    }
    100% {
        background-color:  rgba(255, 192, 203, 0.918);
    }
}

.card{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    padding: 20px 40px;
    background-color: #fff;
    cursor: pointer;
}

.card:hover {
    height: 400px;
}

.imgbox{
    position: relative;
    width: 200px;
    height: 200px;
    transform: translateY(-60px);
}

img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.content{
    padding: 5px 5px;
    text-align: right;
    transform: translateY(-300px);
    opacity: 0;
    transition: 0.3s;
}

.content h2 {
    color: black;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px #7f9ead;
}

.content p {
    color: black;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px #7f9ead;
}

.card:hover  > .content {
   opacity: 1;
   transform: translateY(-80px);
}

.heart {
    background-color: red;
    height: 60px;
    width: 60px;
    position: static;
    top: 15px;
    left: 15px;
    transform: rotate(-45deg);
    box-shadow: -5px 10px 90px red;
    animation: untoldcoding 0.6s linear infinite;
}

@keyframes untoldcoding {
    0% {
        transform: rotate(-45deg) scale(1.07);

    }
    70% {
        transform: rotate(-45deg) scale(1.2);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);

    }
}

.heart::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: red;
    top: -35px;
    border-radius: 50px;
}

.heart::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: red;
    right: -35px;
    border-radius: 50px;
}