body{
    font-family: Arial;
    place-items: center;
    display: grid;
    background-image: url("background.gif");
    background-size: cover;
    background-repeat: repeat;
}
 
ul {
    display: flex;
    border-bottom: 9px solid rgba(0, 0, 0, 0.815);
    border-radius: 15px;
 }
 
 ul li {
       width: 16px;
       height: 16px;
       list-style: none;
       background-color: rgba(0, 0, 0, 0.815);
       margin: auto 15px;
       border-radius: 50%;
       animation: boucing 1s linear infinite
       alternate-reverse;
     }

@keyframes boucing {
    0% {
         transform: translateY(0);
        }
    50% {
            transform: translateY(-150px);
           }
    100% {
            transform: translateY(0);
           }
     }

     ul li:nth-child(2){
        animation-delay: 0.2s;
    }

    ul li:nth-child(3){
        animation-delay: 0.4s;
    }

    ul li:nth-child(4){
        animation-delay: 0.6s;
    }

    ul li:nth-child(5){
        animation-delay: 0.8s;
    }


.animation-box{
    width: 75%;
    height: 27.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.first-text{
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    position: absolute;
    text-shadow: 3px 4px 8px rgba(0, 110, 255, 0.952), -3px -4px 9px #fff;
    left: 2.5rem;
    top: 8rem;
    opacity: 0;
    animation-name: untoldcoding1;
    animation-duration: 5s;
}

.second-text{
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    position: absolute;
    text-shadow: 3px 4px 8px rgba(0, 110, 255, 0.952), -3px -4px 9px #fff;
    top: 8rem;
    opacity: 0;
    animation-name: untoldcoding2;
    animation-duration: 10s;
    animation-delay: 5s;
}

.third-text{
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    position: absolute;
    text-shadow: 3px 4px 8px rgba(0, 110, 255, 0.952), -3px -4px 9px #fff;
    top: 7rem;
    opacity: 0;
    animation-name: untoldcoding3;
    animation-duration: 10s;
    animation-delay: 15s;
}

.fourth-text{
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    position: absolute;
    text-shadow: 3px 4px 8px rgba(0, 110, 255, 0.952), -3px -4px 9px #fff;
    top: 7rem;
    opacity: 0;
    animation-name: untoldcoding4;
    animation-duration: 10s;
    animation-delay: 25s;
}

.fifth-text{
    font-size: 2.5rem;
    font-style: italic;
    color: black;
    position: absolute;
    text-shadow: 3px 4px 8px rgba(0, 110, 255, 0.952), -3px -4px 9px #fff;
    top: 7rem;
    opacity: 0;
    animation-name: untoldcoding5;
    animation-duration: 10s;
    animation-delay: 35s;
}

@keyframes untoldcoding1{
    0%{
        top: -2rem;
        opacity: 0;
    }
    75%{
        top: 35%;
        opacity: 1;
    }
    100%{
        
        opacity: 0;
    }
}
@keyframes untoldcoding2{
    0%{
        top: -2rem;
        opacity: 0;
    }
    75%{
        top: 35%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes untoldcoding3{
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 35%;
        opacity: 1;
    }
    100%{
    
        opacity: 0;
    }
}
@keyframes untoldcoding4{
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 35%;
        opacity: 1;
    }
    100%{
    
        opacity: 0;
    }
}

@keyframes untoldcoding5{
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 35%;
        opacity: 1;
    }
    100%{
    
        opacity: 0;
    }
}





